.meals--form {
  text-align: right;
}

.meals--form button {
  border: 1px solid #8a2b06;
  color: #fff;
  padding: 0.25rem 2rem;
  background:  #8a2b06;
  cursor: pointer;
  font: inherit;
  border-radius: 20px;
  font-weight: bold;
}

.meals--form button:active,
.meals--form button:hover {
  background-color: #641e03;
  border-color: #641e03;
}